In [1]:
import numpy as np 
import matplotlib.pyplot as plt
import opendatasets as od 
import pandas as pd

In [4]:
dataset_url = 'https://www.kaggle.com/datasets/marixe/zara-sales-for-eda'
od.download(dataset_url)

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Dataset URL: https://www.kaggle.com/datasets/marixe/zara-sales-for-eda
Downloading zara-sales-for-eda.zip to ./zara-sales-for-eda

100%|██████████| 932k/932k [00:00<00:00, 155MB/s]

In [33]:
df = pd.read_csv("zara-sales-for-eda/Zara_sales_EDA.csv",sep=";")
display(df.head())
display(df.tail())

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,url,name,description,price,currency,terms,section,season,material,origin
0,185102,Aisle,Yes,clothing,Yes,1243,Zara,https://www.zara.com/us/en/basic-puffer-jacket...,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,78.99,USD,jackets,MAN,Winter,Polyester,Brazil
1,188771,Aisle,Yes,clothing,No,1429,Zara,https://www.zara.com/us/en/tuxedo-jacket-p0889...,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,14.99,USD,jackets,MAN,Autumn,Cotton,Turkey
2,180176,End-cap,Yes,clothing,Yes,1168,Zara,https://www.zara.com/us/en/slim-fit-suit-jacke...,SLIM FIT SUIT JACKET,Slim fit jacket. Notched lapel collar. Long sl...,71.95,USD,jackets,WOMAN,Autumn,Polyester,Morocco
3,112917,Aisle,Yes,clothing,No,1348,Zara,https://www.zara.com/us/en/stretch-suit-jacket...,STRETCH SUIT JACKET,Slim fit jacket made of viscose blend fabric. ...,30.99,USD,jackets,MAN,Spring,Polyester,China
4,192936,End-cap,Yes,clothing,Yes,1602,Zara,https://www.zara.com/us/en/double-faced-jacket...,DOUBLE FACED JACKET,Jacket made of faux leather faux shearling wit...,22.99,USD,jackets,WOMAN,Winter,Wool Blend,China

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,url,name,description,price,currency,terms,section,season,material,origin
20247,219627,Front of Store,Yes,clothing,No,1754,Zara,https://www.zara.com/us/en/suit-jacket-in-100-...,CROPPED WASHED T-SHIRT CHARCOAL,Running shoes. Upper in a combination of piece...,31.95,USD,jeans,WOMAN,Summer,Linen Blend,India
20248,219628,Aisle,No,clothing,No,872,Zara,https://www.zara.com/us/en/fleece-overshirt-p0...,SATIN WOVEN LEATHER SLIDES STONE,Slim fit shirt. Round neck and short sleeves.,49.99,USD,jackets,WOMAN,Spring,Linen,China
20249,219629,Aisle,Yes,clothing,No,1360,Zara,https://www.zara.com/us/en/faux-suede-patch-ja...,RELAXED CROPPED LEATHER JACKET CHARCOAL,Ankle boots. Made of leather with a suede fini...,20.99,USD,shoes,WOMAN,Spring,Polyester,China
20250,219630,Aisle,No,clothing,No,892,Zara,https://www.zara.com/us/en/fine-knit-crop-swea...,SLIM BASIC 100% WOOL SWEATER BURGUNDY,RETRO SNEAKERS,64.95,USD,jackets,WOMAN,Winter,Polyester,Spain
20251,219631,Aisle,No,clothing,No,859,Zara,https://www.zara.com/us/en/contrasting-patches...,KNIT TUXEDO JACKET BURGUNDY,Relaxed fit overshirt made of linen fabric. La...,64.99,USD,shoes,MAN,Summer,Linen,Turkey

In [34]:
display(df.isna().sum())
display(df.info())
display(df.describe())

Product ID          0
Product Position    0
Promotion           0
Product Category    0
Seasonal            0
Sales Volume        0
brand               0
url                 0
name                1
description         2
price               0
currency            0
terms               0
section             0
season              0
material            0
origin              0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20252 entries, 0 to 20251
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        20252 non-null  int64
 1   Product Position  20252 non-null  object
 2   Promotion         20252 non-null  object
 3   Product Category  20252 non-null  object
 4   Seasonal          20252 non-null  object
 5   Sales Volume      20252 non-null  int64
 6   brand             20252 non-null  object
 7   url               20252 non-null  object
 8   name              20251 non-null  object
 9   description       20250 non-null  object
 10  price             20252 non-null  float64
 11  currency          20252 non-null  object
 12  terms             20252 non-null  object
 13  section           20252 non-null  object
 14  season            20252 non-null  object
 15  material          20252 non-null  object
 16  origin            20252 non-null  object
dtypes: float64(1), int64(2), object(14)
memory usage: 2.6+ MB

None

          Product ID  Sales Volume         price
count   20252.000000  20252.000000  20252.000000
mean   208931.432303   1097.400454     41.949061
std      8961.076507    298.234609     23.380960
min    110075.000000    518.000000     12.000000
25%    204442.750000    849.000000     23.950000
50%    209505.500000    990.000000     35.950000
75%    214568.250000   1364.250000     53.950000
max    219631.000000   1940.000000    134.990000

In [32]:
display(df[df.isna()["description"]])
display(df[df.isna()["name"]])

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,url,name,description,price,currency,terms,section,season,material,origin
60,151925,End-cap,No,clothing,Yes,845,Zara,https://www.zara.com/us/en/vintage-effect-leat...,VINTAGE EFFECT LEATHER BOMBER JACKET,NaN,29.95,USD,jackets,WOMAN,Autumn,Cotton,Portugal
72,173576,End-cap,No,clothing,Yes,789,Zara,https://www.zara.com/us/en/-p04310461.html,NaN,NaN,22.95,USD,jackets,MAN,Spring,Polyester,Cambodia

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,url,name,description,price,currency,terms,section,season,material,origin
72,173576,End-cap,No,clothing,Yes,789,Zara,https://www.zara.com/us/en/-p04310461.html,NaN,NaN,22.95,USD,jackets,MAN,Spring,Polyester,Cambodia

In [40]:
cat_labels = ["Product Position", "Promotion", "Product Category", "Seasonal", "brand", "currency", "terms", "section", "season", "material", "origin"]

for label in cat_labels:
    display(df[label].value_counts())

Product Position
Aisle             7810
End-cap           6791
Front of Store    5651
Name: count, dtype: int64

Promotion
No     11812
Yes     8440
Name: count, dtype: int64

Product Category
clothing    20252
Name: count, dtype: int64

Seasonal
No     10136
Yes    10116
Name: count, dtype: int64

brand
Zara    20252
Name: count, dtype: int64

currency
USD    20252
Name: count, dtype: int64

terms
jackets     11232
sweaters     3257
t-shirts     2646
shoes        2458
jeans         659
Name: count, dtype: int64

section
WOMAN    13254
MAN       6998
Name: count, dtype: int64

season
Autumn    7665
Winter    5144
Spring    4537
Summer    2906
Name: count, dtype: int64

material
Cotton         3851
Wool           3805
Wool Blend     3373
Polyester      2775
Linen          2573
Denim          1027
Viscose         990
Acrylic         881
Linen Blend     807
Satin           132
Silk             38
Name: count, dtype: int64

origin
China         4026
Bangladesh    3617
Turkey        2475
India         2033
Morocco       1653
Portugal      1420
Spain         1248
Vietnam       1220
Cambodia       981
Brazil         795
Pakistan       605
Argentina      179
Name: count, dtype: int64

In [55]:
print("WOMAN Sales Volume : ", df[df["section"] == "WOMAN"]["Sales Volume"].sum())
print("MAN Sales Volume : ", df[df["section"] == "MAN"]["Sales Volume"].sum())
print(f"WOMAN Sales Volume / MAN Sales Volume =  \n ", df[df["section"] == "WOMAN"]["Sales Volume"].sum() / df[df["section"] == "MAN"]["Sales Volume"].sum())

WOMAN Sales Volume :  15061147
MAN Sales Volume :  7163407
WOMAN Sales Volume / MAN Sales Volume =
  2.1025116959011263

In [64]:
woman_section_describe = df[df["section"] == "WOMAN"][["Sales Volume", "price"]].describe()
woman_section_describe

       Sales Volume         price
count  13254.000000  13254.000000
mean    1136.347291     41.855757
std      303.499597     23.293065
min      582.000000     12.000000
25%      880.000000     22.990000
50%     1018.000000     35.950000
75%     1415.000000     53.950000
max     1940.000000    134.990000

In [65]:
man_section_describe = df[df["section"] == "MAN"][["Sales Volume","price"]].describe() 
man_section_describe

       Sales Volume        price
count   6998.000000  6998.000000
mean    1023.636325    42.125776
std      273.204400    23.547188
min      518.000000    12.000000
25%      796.000000    23.990000
50%      914.000000    35.950000
75%     1273.000000    53.000000
max     1798.000000   134.950000

In [74]:
df_copy = df.copy()
df_copy["Total sales"] = df_copy["price"] * df["Sales Volume"] 
print(df_copy[df_copy["section"] == "WOMAN"]["Total sales"].sum(), " Mean " , df_copy[df_copy["section"] == "WOMAN"]["Total sales"].mean())
print(df_copy[df_copy["section"] == "MAN"]["Total sales"].sum(), " Mean ", df_copy[df_copy["section"] == "MAN"]["Total sales"].mean())
print(df_copy[df_copy["section"] == "WOMAN"]["Total sales"].sum() / df_copy[df_copy["section"] == "MAN"]["Total sales"].sum())

598488020.94  Mean  45155.275459483935
286113139.08  Mean  40884.98700771649
2.0917879649443747

In [75]:
df_copy[df_copy["section"] == "WOMAN"]["Total sales"].describe()

count     13254.000000
mean      45155.275459
std       23242.110889
min       12225.000000
25%       27119.910000
50%       39543.830000
75%       57766.750000
max      165924.450000
Name: Total sales, dtype: float64

In [76]:
df_copy[df_copy["section"] == "MAN"]["Total sales"].describe()

count      6998.000000
mean      40884.987008
std       20858.414049
min       11228.800000
25%       24621.197500
50%       35911.095000
75%       52177.952500
max      132855.030000
Name: Total sales, dtype: float64